body {
  margin: 0;
  padding: 0;

  font-family: Arial;
}

#container {
  display: flex;
  flex-direction: column;
}

#container #profile-container {
  background-image: url("/assets/profile-page-bg.webp");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  height: 200px;

  display: flex;
  flex-direction: row;
}

#container #profile-container #picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container #profile-container #picture img {
  width: 100px;
  height: 100px;

  border-radius: 50%;

  margin-left: 40px;

  border: 5px solid #fc7019;
}

#container #profile-container #information {
  color: #ffffff;
  margin-left: 20px;
  min-width: 500px;
}

#container #profile-container #information #name {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;

  padding-top: 20px;
}

#container #profile-container #information #username {
  font-size: 20px;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 0;

  padding-top: 0;
  padding-bottom: 0;
}

#container #profile-container #information #email {
  font-size: 20px;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 0;

  padding-top: 28px;
  padding-bottom: 0;
}

#container #profile-container #button button {
  background-color: #fc7019;
  border: none;
  border-radius: 50px;
  width: 100px;

  margin-top: 15px;
  margin-left: 750px;

  font-size: 25px;
  font-weight: 700;
}

#container #edit-profile-container {
  width: 100%;
  height: 100%;
}

#container #edit-profile-container #edit-profile {
  font-size: 35px;
  line-height: 20px;
  padding-left: 100px;
}

#container #edit-profile-container #profile-info {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

#container #edit-profile-container #profile-info input {
  background-color: #fc7019;
  border: none;
  border-radius: 10px;
  width: 600px;
  height: 30px;

  padding-left: 10px;
  padding-right: 10px;
  margin-left: 100px;

  font-size: 17px;
}

#container #edit-profile-container #profile-info input::placeholder {
  color: black;
}

#container #edit-profile-container #profile-info input:focus {
  outline: none;
}

#container #edit-profile-container #profile-info button {
  background-color: #fc7019;
  border: none;
  border-radius: 50px;
  width: 100px;

  margin-top: 40px;
  margin-left: 100px;
  margin-bottom: 35px;

  font-size: 25px;
  font-weight: 700;
}
